@font-face {
    font-family: 'YS Text';
    font-weight: 700;
    font-style: normal;
    src: local('YS Text Bold'),
         url('https://yastatic.net/s3/passport-static/core/v1.250.0/fonts/ys-text-bold/TR2STky64Ra69XlYzqKN7cnjYfQ.woff2') format('woff2'),
         url('https://yastatic.net/s3/passport-static/core/v1.250.0/fonts/ys-text-bold/6n8FrCwGXwQ5ZumBk1SCxOl2ec8.woff') format('woff'),
         url('https://yastatic.net/s3/passport-static/core/v1.250.0/fonts/ys-text-bold/o9D1OOQkIM1tjIvuGeHuvA0EgWA.ttf') format('truetype');
}


/* Общий сброс */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "YS Text",'Segoe UI', Roboto, sans-serif;
  color: #222;
  overflow: hidden;
}

/* Фон */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 230, 100, 0.15);
  z-index: -1;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Карточка входа */
.auth-card {
  background: rgba(19, 19, 23, 1);
  border-radius: 20px;
  padding: 40px 50px;
  box-shadow: 0 4px 25px rgba(99, 99, 99, 0.25);
  text-align: center;
  max-width: 300px;
  width: 90%;
}

/* Заголовок */
.logo {
  font-size: 32px;
  margin-bottom: 10px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/* Подзаголовок */
.subtitle {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 25px;
}

/* Поле ввода */
.auth-card input {
  width: 88%;
  padding: 16px;
  border-radius: 20px;
  border: 1px solid #474747;
  margin-bottom: 22px;
  font-size: 20px;
  text-align:left;
  background-color: rgba(19, 19, 23, 1);
  color: #fff;     
  outline: none;
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow .2s;
}


input:focus {
        box-shadow: 0 0 0 2px #fff200;  
}

/* Кнопка */
.auth-card button {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #ffcc00, #ffd84d);
  color: #222;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.auth-card button:hover {
  background: linear-gradient(90deg, #ffd84d, #ffcc00);
  transform: scale(1.03);
}

/* Подвал */
footer {
  position: fixed;
  bottom: 1px;
  right: 20px;  
  font-size: 0.85rem;
  color: #ffffff;
  line-height: 1.3;
}

.toast {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 87, 34, 0.9);
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}


.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

